@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans Condensed", sans-serif;
}

.alert {
    transition: all .5s ease-in-out;
}

body {
    overflow: hidden;
}

.load-save-buttons {
    width: 350px;
}

#save-button {
    float: left;
}

#load-button {
    float: right;
}

.update {
    top: 0;
    right: 0;
    position: absolute;
    height: 100px;
    width: 300px;
}

.loot-area {
    text-align: center;
    padding-top: 25px;
    width: 100%;
    height: 75px;
    background: #eee;
}

#coordinates {
    position: absolute;
}

.menu {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(223, 223, 223);
    transition: all .5s ease-in-out;
}

#x,
#y {
    font-weight: 600;
    opacity: 0;
}

.menu:hover {
    height: 110px;
}

.inventory-slot {
    position: absolute;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(223, 223, 223);
    transition: all .2s ease-in-out;
}

.inventory-slot:hover {
    border: 2px solid rgb(216, 216, 216);
}

.heading {
    padding-top: 25px;
    font-weight: 700;
}

.image-col {
    padding-top: 50px;
}

.slot {
    width: 50px;
    height: 50px;
    background: rgb(128, 128, 128);
    margin-bottom: 10px;
}

.progress {
    position: relative;
    margin: 0 auto;
    width: 350px;
    text-align: center;
}

.form-group {
    padding-top: 20px;
    margin: 0 auto;
    width: 350px;
    height: 100%;
}

.form-group>button {
    float: right;
    width: 350px;
}

.response-col {
    padding: 20px 20px 0 20px;
    background: #fff;
    margin: 0 auto;
    width: 350px;
    height: 120px;
}

.hp-div {
    height: 30px;
    width: 350px;
    margin: 0 auto 50px auto;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    color: #228B22;
}

.experience-bar {
    background: #e7aedb;
    height: 30px;
}

#experience-text {
    padding-top: 4px;
    font-size: 15px;
}

#notification-col {
    position: absolute;
    margin: 0 auto !important;
}

.ui-widget-header {
    border: none;
    background: #c169cf;
    color: #333333;
    font-weight: bold;
    transition: all .5s ease-in-out;
}

.enemy-div {}

.experience-bar>p {
    z-index: 1000;
    position: absolute;
    display: block;
    width: 100%;
    color: rgb(255, 255, 255);
}

.map {
    margin: 0 auto;
    transition: all .5s ease-in-out;
    bottom: 0;
}

.map-row {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.map-tile {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    background: #eee;
    transition: all .1s ease-in-out;
}

.fiende {
    width: 100%;
    margin: 0 auto;
}

.slåss-button {
    width: 50%;
    margin-bottom: 15px;
}

#fly {
    float: right;
}

textarea:disabled {
    width: 100%;
    margin-bottom: 15px !important;
    border: none !important;
    background: #fff !important;
}

.map-tile {
    color: #fff;
    text-align: center;
}