@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", sans-serif;
}

.grass-tile {
    background: rgb(75, 160, 103);
}

html,
body {
    height: 100%;
    background: #000;
}

.alert {
    transition: all .5s ease-in-out;
}

.player-container {
    width: 100%;
    position: absolute;
    bottom: 150px;
    color: #fff;
}

body {
    overflow: hidden;
}

#save-button {
    float: left;
    height: 75px;
}

#load-button {
    float: right;
    height: 75px;
}

.update {
    top: 0;
    right: 0;
    position: absolute;
    height: 100px;
    width: 300px;
}

.loot-area {
    text-align: center;
    padding-top: 25px;
    width: 100%;
    height: 75px;
    background: #eee;
}

#coordinates {
    position: absolute;
}

.menu {
    padding-top: 500px;
    width: 100%;
    height: 100%;
    background: rgb(116, 116, 116);
    border: 1px solid rgba(223, 223, 223, 0.329);
    z-index: 2200;
}

#x,
#y {
    font-weight: 600;
    opacity: 0;
}

.inventory-row {
    width: 290px;
}

.inventory-slot {
    height: 60px;
    width: 60px;
    background: rgb(37, 37, 37);
    margin: 5px;
    border: 1px solid rgb(114, 114, 114);
}

.inventory-slot:hover {
    background: rgb(88, 88, 88);
}

.inventory-header {
    padding: 7px 0 0 87px;
    top: 0;
    text-transform: uppercase;
    position: absolute;
    font-size: 24px;
    color: rgb(196, 196, 196);
}

#tooltip {
    padding: 20px 0 0 20px;
}

.tooltip-header {
    font-size: 25px;
    font-weight: 600;
}

.tooltip-rarity {
    font-size: 15px;
    font-weight: 600;
}

.tooltip-desc {}

.heading {
    padding-top: 25px;
    font-weight: 700;
}

.image-col {
    padding-top: 50px;
}

.slot {
    width: 50px;
    height: 50px;
    background: rgb(128, 128, 128);
    margin-bottom: 5px;
}

.progress {
    position: relative;
    margin: 0 auto;
    width: 350px;
    text-align: center;
}

.form-group {
    z-index: -1;
    margin: 0 auto;
    width: 350px;
    height: 100%;
}

.form-group>button {
    float: right;
    width: 350px;
}

.enemy-div {
    color: #333;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: 110px;
    width: 350px;
    height: 120px;
}

.response-col {
    color: #333;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -60px;
    width: 350px;
    height: 120px;
}

.hp-div {
    height: 30px;
    width: 350px;
    margin: 0 auto 50px auto;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    color: #228B22;
}

.experience-bar {
    background: #a56597;
    height: 30px;
}

#experience-text {
    padding-top: 4px;
    font-size: 15px;
}

#notification-col {
    position: absolute;
    margin: 0 auto !important;
}

.ui-widget-header {
    border: none;
    background: #774f7e;
    color: #333333;
    font-weight: bold;
    transition: all .5s ease-in-out;
}

.enemy-div {}

.experience-bar>p {
    z-index: 1000;
    position: absolute;
    display: block;
    width: 100%;
    color: rgb(255, 255, 255);
}

.map {
    width: 150px;
    margin: 20px auto 20px 20px;
    height: 12px;
}

.map-row {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.map-tile {
    margin: 0;
    padding: 0;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    background: #eee;
}

.fiende {
    width: 100%;
    margin: 0 auto;
}

.slåss-button {
    width: 50%;
    margin-bottom: 15px;
}

#fly {
    float: right;
}

textarea:disabled {
    width: 100%;
    margin-bottom: 15px !important;
    border: none !important;
    background: #fff !important;
}

.map-tile {
    color: #fff;
    text-align: center;
}


/* Inventory */

#equipped {
    position: absolute;
    left: 5px;
}